* {
  margin: 0;
  padding: 0;
}

body {
  display:flex;
  justify-content: center;
  align-items:center;
  padding: 50px 0 50px 0;
  box-sizing:border-box;
  background-color: #423763;
  background-image: linear-gradient(to top right, #423763, #6E6792);
  background-size: cover;
  height:100vh;
}

.memory-board {
  background-color: #D61E7A;
  background-image: linear-gradient(to top right, #D61E7A, #FD547B);
  border-radius: 10%;
  margin:0;
  padding:30px;
  display:flex;
  opacity:1;
  flex-wrap:wrap;
  justify-content: space-around;
  align-items: center;
  border-radius:50%;
  width:540px;
  height:540px;
  border-radius: 10%;
  transition: 4s;
}

.memory-card {
  width:100px;
  height:100px;
  background-color: black;
  background-size:cover;
  opacity:1;
  transition:1s;
}

.memory-card-container {
  background-color: grey;
  margin:0 5px 0 5px;

}

div.hidden {
  opacity:0;
}

div.finished {
  opacity:1;
  border:3px lightgreen solid;
}


[data-card-type="heart"] {
  background-image: linear-gradient(to top right, #04C0A9, #06DEC4);
}

[data-card-type="test"] {
  background-image: linear-gradient(to top right, #1C2A30, #24353C);
}

[data-card-type="dog"] {
  background-image: linear-gradient(to top right, #58043E, #84024A);
}

[data-card-type="cat"] {
  background-image: linear-gradient(to top right, #FDAB87, #FECA8A);
}

[data-card-type="dollar"] {
  background-image: linear-gradient(to top right, #FFFFFF, #0FFEE1);
}

[data-card-type="horse"] {
  background-image: linear-gradient(to top right, #07C17A, #02F392);
}

[data-card-type="apple"] {
  background-image: linear-gradient(to top right, #490045, #F23D49);
}

[data-card-type="skull"] {
  background-image: linear-gradient(to top right, #FFFF, #0000);
}
