* {
  margin: 0;
  padding: 0;
}

body {
  display:flex;
  justify-content: center;
  align-items:center;
  padding: 50px 0 50px 0;
  box-sizing:border-box;
  background-color: #1A1423;
  background-size: cover;
  height:100vh;
  overflow:hidden;
  transition:1s;
}


.memory-board {
  background-color: #EACDC2;
  border-radius: 10%;
  margin:0;
  padding:30px;
  width:100px;
  display:flex;
  opacity:1;
  flex-wrap:wrap;
  justify-content: space-around;
  align-items: center;
  height:100px;
  border-radius:50%;
  transition: 4s;
  transition: background-color 1s, width 4s, height 4s, opacity 4s;
}

.no-play {
  opacity:0;
}

.memory-card {
  width:105px;
  height:100px;
  background-size:cover;
  opacity:1;
  transition:1s;
  border-radius: 10%;
}

.memory-card-container {
  margin:5px;
  height:100px;
  width:100px;
  overflow: hidden;
  background-color:#222e;
  position: relative;
  border-radius: 10%;
  opacity:1;
}

.play-btn {
  width:50px;
  height:50px;
  border-radius:50%;
  cursor:pointer;
  background-color:#EACDC2;
  position:absolute;
  align-self: center;
  transition:1s;
}

.play-btn:hover {
  width:100px;
  height:100px;
  border-radius:80%;
}

.theme-btn {
  bottom:20px;
  left:20px;
  width:100px;
  max-height:55px;
  border-radius:10px;
  background-color:#EACDC2;
  position:absolute;
  align-self: center;
  transition:1s;
  padding:20px 0 20px 0;
  transition:max-height 2s, opacity 4s, background-color 1s;
  overflow:hidden;
}

.theme-btn:hover {
  max-height:1000px;
}

.theme-selection {
  display:block;
  margin:auto;
  height:50px;
  width:25px;
  border-radius: 10%;
  border-right:25px solid;
  margin-bottom:25px;
  opacity:1;
  cursor:pointer;
}

.theme-button:hover>.theme-selection {
  opacity:1;
}

.removed {
  display:none;
}

.started {
  width:540px;
  height:540px;
  border-radius: 10%;
  overflow: hidden;
}

.restart-btn {
  cursor:pointer;
  padding:10px;
  height:30px;
  width:30px;
  background-color:#EACDC2;
  position:absolute;
  bottom:30px;
  transition:opacity 3s ease-in-out;
  border-radius:10%;
}

.restart-btn {
  color:white;
  font-family:sans-serif;
}

div.hidden {
  opacity:0;
}

svg.hidden {
  opacity:0;
}

div.finished {
  opacity:1;
  transition: border-radius 1s ease-out;
  animation:reshape 1s ease-in-out 0s forwards;
  overflow: hidden;
  z-index: 5;
  width:100px;
}

.no-bg {
  background:none;
}

.finish-border {
  animation: pulse 1.5s ease-in-out alternate;
}

.fail-border {
  animation: bad-pulse 1.5s ease-in-out alternate;
}

.spin {
  animation: spin 1s ease-in-out;
}

@keyframes pulse {
  0% {
    border:1px solid rgba(66,142,51,1);
  }

  70% {
    border:20px solid rgba(110,50,71,1);
  }

  100% {
    border:1px solid rgba(66,142,51,1);
  }
}

@keyframes bad-pulse {
  0% {
    border:1px solid red;
  }

  70% {
    border:20px solid rgba(110,50,71,1);
  }

  100% {
    border:1px solid red;
  }
}

@keyframes reshape {
  0% {border-radius:10%;}
  100% {border-radius:40%;}
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    border-radius:50%;
  }

  100 {
    transform:rotate(1turn);
    border-radius:10%;

  }
}

@keyframes fade-in {
  0% {opacity:0;}
  100% {opacity:1;}
}


[data-card-type="one"] {
  background-image: linear-gradient(to top right, #04C0A9, #06DEC4);
}

[data-card-type="two"] {
  background-image: linear-gradient(to top right, #F93901, #F9CC21);
}

[data-card-type="three"] {
  background-image: linear-gradient(to top right, #58043E, #84024A);
}

[data-card-type="four"] {
  background-image: linear-gradient(to top right, #FDAB87, #FECA8A);
}

[data-card-type="five"] {
  background-image: linear-gradient(to top right, #FFFFFF, #0FFEE1);
}

[data-card-type="six"] {
  background-image: linear-gradient(to top right, #07C17A, #02F392);
}

[data-card-type="seven"] {
  background-image: linear-gradient(to top right, #490045, #F23D49);
}

[data-card-type="eight"] {
  background-image: linear-gradient(to top right, #FFFF, #0000);
}

#countdown {
  height: 100%;
  width: 100%;
  position: absolute;
  display:flex;
  justify-content:center;
  align-items: center;
  text-align: center;
  z-index:-1;
}

#countdown > svg {
  position: absolute;
  width: 700px;
  height: 700px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg rect {
  stroke-dasharray: 2100;
  stroke-dashoffset: -2100;
  stroke-width:4px;
  stroke:white;
  stroke-linecap: round;
  height:100%;
  width: 100%;
  transition:1s;
  fill: none;
}

.count-down {
  animation: countdown linear forwards;
}

.completed > .memory-card-container {
  opacity:0;
}

.completed {
  animation: completed 3s ease-in-out infinite alternate;
}

.fade-in {
  animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes countdown {
  from {
    stroke-dashoffset: -2100;
    stroke-dasharray: 2100;
  }
  to {
    stroke-dashoffset: -4190;
    stroke-dasharray: 2090;
  }
}

@keyframes start {
  from {
    position: absolute;
  }

  to{
    position:relative;
  }
}

@keyframes completed {
  0% {
    border-radius:10%;
    background-color: #FD547B;
    background-image:none;
  }

  50% {
    border-radius:40%;
  }

  100% {
    border-radius:50%;
    width:200px;
    height:200px;
    background-image:none;
    background-color:#93EDC7);
  }
}
